.u-section-1 .u-sheet-1 {
  min-height: 561px;
}

.u-section-1 .u-repeater-1 {
  width: 1140px;
  margin-top: 70px;
  margin-bottom: 70px;
  min-height: 421px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 140px;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-repeater-1 {
    width: 940px;
    min-height: 347px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-1 .u-repeater-1 {
    width: 720px;
    min-height: 399px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    width: 540px;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 107px;
}

.u-section-2 .u-pagination-1 {
  margin: 25px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-pagination-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 164px;
  }
}