body {
    text-align:
    center;
    padding: 150px;
}
h1 {
    font-size: 50px;
}
body {
    font: 20px Helvetica, sans-serif;
    color: #333;
}
article {
    display: block;
    text-align: left;
    width: 650px;
    margin: 0 auto;
}
a {
    color: #dc8100;
    text-decoration: none;
}
a:hover {
    color: #333;
    text-decoration: none;
}
main_container {
  height: 46px;
  width: auto;
  padding: 3px;
  margin: 2px;
  max-width: 300px;
  background-color: #555555;
  align-content: center;
}
container_inner {
  height: auto;
  border: none;
  background-color: #555555;
  max-width: 290px;
  vertical-align: center;
  padding-top: 12px;
  padding-left: 10px;
  align-content: center;
}
 num_tiles {
  width:30px;
  height: 30px;
  background-color: #888888;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  line-height: 20px;
  padding: 3px;
  margin: 1.5px;
  font-family: verdana;
  vertical-align: center;
}